@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 24%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}
body{
  
  font-family: "Overpass", sans-serif;
  background-color: var(--Very-Dark-Blue);
  font-size: 15px;
  
}

.rating-state, .thankyou-state{
  background-color: var(--Dark-Blue);
  width: 327px;
  height: 364px;
  border-radius: 16px;
  margin: 195px auto 80px;
  padding: 24px;
}

.rating-state_icon-container, .rating-state_container-number{
  background-color: var(--Medium-Grey);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-bottom: 22px;
  color: var(--Light-Grey);
  border: none;

}

.rating-state_title, .thankyou-state_title{
  color: var(--White);
  margin-bottom: 22px;
  font-size: 1.6em;
  font-weight: 400;
}

.rating-state_description, .thankyou-state_paragraph{
  color: var(--Light-Grey);
  margin-bottom: 30px;
  letter-spacing: -0.5px;
}

.rating-state_number-container{
  display: flex;
  justify-content: space-between;
}

.rating-state_container-number:hover{
  background-color: var(--White);
  color: var(--Dark-Blue);
  cursor: pointer;
}

.rating-state_container-number:focus{
  background-color: var(--Orange);
  color: var(--Dark-Blue);
}


.rating-state_button{
background-color: var(--Orange);
color:var(--Dark-Blue);
width: 100%;
height: 44px;
margin-top: 10px;
border: none;
border-radius: 50px;
text-transform: uppercase;
letter-spacing: 3px;
font-weight: 700;
}

.rating-state_button:hover{
 color: var(--Dark-Blue);
 background-color: var(--White);
 cursor: pointer;
}

/* thankyou-state */

.thankyou-state{
  display: none;
  flex-direction: column;
  align-items: center;

}

.thankyou-state_image{
  width: 150px;
  margin-bottom: 25px;
}

.thankyou-state_result{
  background-color: var(--Medium-Grey);
  color: var(--Orange);
  width: 170px;
  height: 36px;
  font-size: 0.9em;
  border-radius: 50px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 30px;

}

.thankyou-state_paragraph{
  text-align: center;

}

.thankyou-state_title{
  margin-top: 15px;
}

@media (min-width:600px){
  .rating-state, .thankyou-state{
    width: 410px;
    height: 410px;
    padding: 30px;
  }
  .rating-state{
    font-size: 1em;
  }

  .rating-state_icon-container, .rating-state_container-number{
    width: 50px;
    height: 50px;
  }
  .rating-state_title, .thankyou-state_title{
    font-size: 1.9em;
  }
  
  .rating-state_description, .thankyou-state_paragraph{
    font-size: 1.07em;
  }

  
  



}


.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
